##The 2 lines below should allow CGI execution on the current directory of this htaccess file - If you have configured the web  host properly to allow execution of scripts on the cgi-bin, 'uncommenting' the lines is not necessary.
#Options +ExecCGI
#AddHandler cgi-script .zyx

#directs browsers to HTTPS
#Thanks to Julian for the following snippet
RewriteEngine On
RewriteCond %{SERVER_PORT} !^443$
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
