#allow CGI execution on this directory
#Options +ExecCGI
#AddHandler cgi-script .zyx

#directs browsers to HTTPS
RewriteEngine On
RewriteCond %{SERVER_PORT} !^443$
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
